* {
    margin: 0;
}

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    ;
}

#text {
    font-size: 40px;
    font-weight: bold;
}

#rect {
    stroke-dasharray: 50;
    animation: move 1s ease alternate infinite;
}

@keyframes move {
    to {
        stroke-dashoffset: 45;
        /* stroke-linecap: square; */

    }

}